
ul,
ul li {
  list-style: none
}
#content-wrapper,
#main-wrapper,
#outer-wrapper,
#sidebar-wrapper,
body,
img {
  position: relative
}
.entry-category,
.entry-info {
  position: absolute;
  z-index: 10
}
.post-share,
.search-toggle {
  text-align: center
}
#magify-main-menu ul > li > ul,
#nav-search {
  background-color: #1e232b;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.15),0 2px 10px 0 rgba(0,0,0,.17)
}
.main-logo h1,
.mobile-logo a {
  font-size: 22px;
  line-height: 34px
}
#magify-main-menu ul > li.has-sub > a:after,
.hide-mobile-menu:before,
.mobile-menu ul li.has-sub .submenu-toggle:after,
.search-toggle:after,
.show-mobile-menu:before {
  font-family: icomoon,sans-serif;
  font-weight: 900;
  font-display: swap
}
#magify-main-menu ul ul,
#nav-search {
  transition: .17s
}
.headerify.show,
.slide-menu-header {
  box-shadow: 0 0 20px rgba(0,0,0,.15)
}
#blog-pager {
  font-weight: 500
}
.blog-post,
body {
  word-wrap: break-word
}
#blog-pager,
#main-wrapper,
#main-wrapper #main,
#nav-search,
#nav-search .search-form,
#nav-search .search-input,
#sidebar-wrapper,
.block-posts .widget,
.entry-category,
.entry-info,
.entry-tags a,
.entry-tags span,
.headerify,
.headerify-wrap,
.index-post,
.index-post-wrap,
.item-post-inner,
.item-post-padd,
.mobile-logo,
.mobile-menu,
.post-footer,
.post-share,
.slide-menu-header,
button,
form,
input {
  box-sizing: border-box
}
.entry-info .entry-title,
.featured-item .entry-title {
  text-shadow: 0 1px 2px rgba(0,0,0,.5)
}
h1,
h2,
h3,
h4,
p,
ul li {
  line-height: 1.5rem
}
h1,
h2,
h3,
h4,
ul {
  margin-top: 1.5rem
}
@font-face {
  font-family: icomoon;
  src: url(/assets/css/icomoon.ttf) format('truetype'),url(/assets/css/icomoon.woff) format('woff'),url(/assets/css/icomoon.svg) format('svg');
  font-weight: 400;
  font-style: normal
}
a,
blockquote,
body,
center,
code,
del,
div,
em,
form,
h1,
h2,
h3,
h4,
html,
i,
iframe,
img,
li,
p,
pre,
span,
strong,
ul {
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  text-decoration: none
}
button,
form,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border-radius: 0
}
ul {
  font-weight: 400
}
img {
  border: none;
  width: 100%
}
a,
a:visited {
  text-decoration: none
}
.clearfix {
  clear: both
}
.section,
.widget,
.widget ul {
  margin: 0;
  padding: 0
}
#breadcrumb a.home,
#breadcrumb a:hover,
#footer-menu ul li a:hover,
#footerbar .footer-copyright a:hover,
.entry-meta a:hover,
.entry-title a:hover,
.hide-mobile-menu:hover,
.list-label li a:hover,
.mobile-menu ul li a:hover,
.mobile-menu ul>li>.submenu-toggle:hover,
.post-body a,
.post-nav a:hover,
.search-toggle:hover,
.show-mobile-menu:hover,
.social-mobile ul li a:hover,
.title-wrap>a.more:hover,
a {
  color: #3f51b5
}
#magify-main-menu ul>li>ul>li:last-child a,
.social-footer li a.instagram:hover,
a img {
  border: 0
}
body {
  background-color: #00000026;

    font-family: '-apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif',sans-serif;
  font-size: 17px;
  color: #3d4144;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4em;
  margin: 0;
  padding: 0
}

.headerify.show,
.nav-active .is-fixed {
  top: 0
}

  .nav-active .overlay {
    visibility: visible;
    opacity: 1
  }
  
  .nav-active #slide-menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: visible
}

.search-active #nav-search {
  visibility: visible;
  opacity: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate(0);
  transform: translate(0)
}

.search-active .search-toggle:after {
  content: "\f057"
}

.skip-links {
  display: none!important;
  height: 1px
}
#blog-pager .loading,
#blog-pager .no-more,
#featured .widget,
#featured .widget.HTML .widget-content,
#featured .widget>.widget-title {
  display: none
}
h1,
h2,
h3,
h4 {
  font-display: swap;
  font-weight: 700;
  margin-bottom: 0
}
h1,
h2 {
  margin-top: 3rem
}
#outer-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: calc(1078px + 60px);
  margin: 0 auto;
  background-color: #f5f6f7;
  box-shadow: 0 0 20px rgba(0,0,0,.1)
}
.row-x1 {
  width: 1078px
}
#content-wrapper {
  padding: 30px 0;
  float: left;
  width: 100%;
  overflow: hidden;
  margin: 0;
  border-top: 0
}
#content-wrapper>.container,
#featured-wrapper .container {
  margin: 0 auto
}
#main-wrapper {
  float: left;
  width: calc(100% - (320px + 30px));
  padding: 0
}
#about-section .LinkList .widget-content,
.block-posts .column-right,
.post-nav .blog-pager-older-link {
  float: right
}
#sidebar-wrapper {
  float: right;
  width: 320px;
  padding: 0
}
.block-posts .column-left,
.post-nav .blog-pager-newer-link {
  float: left
}
.entry-image-link {
  overflow: hidden;
  background-color: rgba(155,155,155,.08);
  z-index: 5;
  color: transparent
}
.block-videos .videos-item:hover .video-icon {
  opacity: 1
}
.before-mask:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 70%;
  background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.65));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  opacity: 1;
  margin: 0;
  transition: opacity .25s
}
.entry-title {
  color: #171c24
}
.entry-title a {
  color: #171c24;
  display: block
}
.excerpt {
  font-display: swap;
  font-family: var(--text-font)
}
#breadcrumb,
.entry-meta {
  font-family: var(--meta-font)
}
.entry-category {
  top: 15px;
  left: 15px;
  height: 20px;
  background-color: #3f51b5;
  font-size: 11px;
  color: #fff;
  font-weight: 400;
  padding: 0 5px;
  margin: 0;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px
}
.entry-info {
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,.3));
  padding: 15px
}
.entry-info .entry-meta {
  color: #eee
}
#footerbar .footer-copyright a,
.entry-info .entry-title a,
.main-logo h1 a,
.social-footer li a:hover {
  color: #fff
}
#breadcrumb,
#breadcrumb a,
.entry-meta a,
.post-nav a {
  color: #1e232b
}
#about-section .Image .widget-content,
#featured-wrapper,
#header-wrapper,
.block-posts,
.home-ad,
.social-mobile {
  position: relative;
  float: left;
  width: 100%;
  margin: 0
}
.headerify,
.headerify-wrap {
  position: relative;
  float: left;
  width: 100%;
  height: 60px;

  background-color:#3f51b5;box-sizing:border-box;padding:0;margin:0 auto;box-shadow:0 2px 4px 0 rgba(0,0,0,.05);
}
#footer-wrapper .container,
#header-wrapper .container {
  position: relative;
  margin: 0 auto
}
.main-logo-wrap {
  position: relative;
  float: left;
  margin: 0 30px 0 0
}
.main-logo {
  position: relative;
  float: left;
  width: 100%;
  height: 34px;
  padding: 13px 0;
  margin: 0
}
.main-logo h1 {
  color: #fff;
  margin: 0
}
.main-menu-wrap {
  position: static;
  float: left;
  height: 60px;
  margin: 0
}
#featured .widget.HTML,
#featured .widget.HTML.show-ify .widget-content,
#magify-main-menu .widget,
.block-posts .show-ify {
  display: block
}
#magify-main-menu {
  position: static;
  width: 100%;
  height: 60px;
  z-index: 10
}
#magify-main-menu ul > li {
  position: relative;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0
}


#magify-main-menu > li > a{position:relative;display:block;height:60px;font-size:14px;color:#ffffff;font-weight:700;text-transform:uppercase;line-height:60px;padding:0 15px;margin:0;}

#magify-main-menu-nav>li:hover>a{background-color:rgba(255,255,255,0.05);color:#ffffff;}



 

.search-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(155,155,155,.03);
  color: #fff;
  font-size: 14px;
  line-height: 60px;
  cursor: pointer;
  z-index: 20;
  padding: 0;
  margin: 0;
  transition: margin .25s
}
#slide-menu,
.overlay {
  position: fixed;
  transition: .25s;
  left: 0;
  visibility: hidden;
  bottom: 0
}
.search-toggle:after {
  content: "\f002";
  margin: 0
}
#nav-search {
  position: absolute;
  top: 70px;
  right: 0;
  width: 320px;
  max-width: 100%;
  height: 60px;
  z-index: 25;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  border-radius: 2px
}
#nav-search:before {
  content: '';
  position: absolute;
  top: 0;
  right: 20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #1e232b;
  margin: -20px 0 0
}
#nav-search .search-form {
  width: 100%;
  height: 38px;
  background-color: rgba(155,155,155,.03);
  display: flex;
  overflow: hidden;
  padding: 2px;
  border: 1px solid rgba(155,155,155,.2);
  border-radius: 2px
}
#nav-search .search-input {
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0 10px;
  background-color: rgba(0,0,0,0);
  font-display: swap;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  border: 0
}
#nav-search .search-input:focus {
  color: #fff;
  outline: 0
}
#nav-search .search-input::placeholder {
  color: #fff;
  opacity: .5
}
#nav-search .search-action {
  background-color: #3f51b5;
  font-display: swap;
  font-family: inherit;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 0 12px;
  margin: 0;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 2px;
  border-radius: 2px
}
#blog-pager #load-more-link:hover,
#nav-search .search-action:hover,
.errorWrap a:hover,
.follow-by-email-submit:hover {
  background-color: #3949a3;
  color: #fff
}
.overlay {
  opacity: 0;
  top: 0;
  right: 0;
  background-color: rgba(23,28,36,.6);
  z-index: 1000;
  margin: 0
}
.hide-mobile-menu,
.show-mobile-menu {
  line-height: 60px;
  z-index: 20;
  padding: 0 20px;
  top: 0;
  color: #fff;
  text-align: center;
  position: absolute;
  cursor: pointer
}
.show-mobile-menu {
  display: none;
  left: 0;
  height: 60px;
  font-size: 16px;
  font-weight: 600
}
.show-mobile-menu:before {
  content: "\f0c9"
}
#slide-menu {
  display: none;
  width: 300px;
  height: 100%;
  top: 0;
  background-color: #171c24;
  overflow: auto;
  z-index: 1010;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  box-shadow: 3px 0 7px rgba(0,0,0,.1)
}
.slide-menu-header {
  float: left;
  width: 100%;
  height: 60px;
  background-color: #171c24;
  overflow: hidden
}
.mobile-logo {
  float: left;
  max-width: calc(100% - 60px);
  height: 34px;
  overflow: hidden;
  padding: 0 20px;
  margin: 13px 0 0
}
.mobile-logo a {
  display: block;
  height: 34px;
  color: #fff;
  font-weight: 700
}
.hide-mobile-menu {
  right: 0;
  display: block;
  height: 60px;
  font-size: 16px
}
.mobile-menu,
.mobile-menu ul li {
  position: relative;
  float: left;
  width: 100%
}
.hide-mobile-menu:before {
  content: "\f057"
}
.slide-menu-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  width: 100%;
  height: calc(100% - 60px)
}
.mobile-menu {
  padding: 20px
}
#sidebar>.widget:last-child,
.PopularPosts .popular-post.item-0,
.block-posts-1 .item-1,
.mobile-menu>ul,
.social-footer li:last-child {
  margin: 0
}
.mobile-menu .m-sub {
  display: none;
  padding: 0
}
.mobile-menu ul li {
  display: block;
  overflow: hidden;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  margin: 0;
  padding: 0
}
.PopularPosts .entry-header,
.block-posts-1 .block-item:not(.item-0) .entry-header,
.column-posts .column-item:not(.item-0) .entry-header,
.index-post .entry-header,
.mobile-menu>ul li ul {
  overflow: hidden
}
.mobile-menu ul li a {
  color: #fff;
  padding: 0;
  display: block
}
.mobile-menu > ul > li > a {
  text-transform: uppercase
}
.mobile-menu ul li.has-sub .submenu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  cursor: pointer
}
.mobile-menu ul li.has-sub .submenu-toggle:after {
  content: '\f078';
  float: right;
  width: 40px;
  font-size: 12px;
  text-align: right;
  transition: .17s
}
.mobile-menu > ul > li > ul > li a {
  font-size: 13px;
  font-weight: 400;
  opacity: .8;
  padding: 0 0 0 15px
}
.social-mobile ul {
  display: block;
  text-align: center;
  padding: 20px;
  margin: 0
}
#breadcrumb a,
#breadcrumb em,
.social-mobile ul li,
ul.social-footer {
  display: inline-block
}
.social-mobile ul li {
  margin: 0 5px
}
.social-mobile ul li a {
  display: block;
  font-size: 15px;
  color: #fff;
  padding: 0 5px
}
.headerify.show {
  top: 0
}
.loader {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: block;
  margin: 0
}
.loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -16px 0 0 -16px;
  border: 2px solid #3f51b5;
  border-right-color: rgba(155,155,155,.2);
  border-radius: 100%;
  animation: 1.1s linear infinite spinner;
  transform-origin: center
}
#blog-pager {
  float: left;
  width: 100%;
  font-size: 15px;
  text-align: center;
  clear: both;
  padding: 30px 0 0;
  margin: 30px 0 10px;
  border-top: 1px solid rgba(155,155,155,.1)
}
#blog-pager .loading .loader {
  height: 34px
}
#blog-pager .loading .loader:after {
  width: 26px;
  height: 26px;
  margin: -15px 0 0 -15px
}
#featured .widget {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  height: 440px;
  padding: 20px;
  margin: 30px 0 0;
  border: 1px solid #e6e6e6
}
.sidebar>.widget .widget-title,
.title-wrap {
  position: relative;
  float: left;
  width: 100%;
  line-height: 1;
  padding: 0 0 15px;
  margin: 0 0 20px;
  border-bottom: 2px solid #ebebeb
}
.index-post {
  border-bottom: 1px solid rgba(155,155,155,.1)
}
.sidebar>.widget .widget-title:after,
.title-wrap:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 2px;
  background-color: #3f51b5;
  margin: 0 0 -2px
}
#comments,
#disqus_thread,
#main-wrapper #main,
#sidebar-wrapper .sidebar,
.block-posts .widget,
.index-post,
.index-post-wrap,
.related-content {
  width: 100%;
  float: left
}
.sidebar>.widget .widget-title>h3,
.title-wrap>h3 {
  float: left;
  font-display: swap;
  font-family: var(--body-font);
  font-size: 16px;
  color: #171c24;
  font-weight: 700;
  margin: 0
}
#breadcrumb .delimiter:after,
blockquote:after,
blockquote:before {
  font-family: icomoon,sans-serif;
  font-weight: 900;
  font-style: normal
}
.block-posts .widget {
  position: relative;
  background-color: #fff;
  padding: 20px;
  margin: 0 0 30px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.05)
}
#main-wrapper #main {
  position: relative;
  margin: 0
}
.index #main-wrapper #main {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6
}
#breadcrumb,
.item-post .blog-entry-header .entry-meta {
  font-size: 13px
}
.entry-meta,
.entry-meta span:before {
  font-size: 11px;
  font-weight: 400;
  font-display: swap
}
.blog-post {
  display: block
}
.index-post-wrap {
  position: relative;
  padding: 0;
  margin: 0
}
.index-post {
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 20px
}
.blog-posts .index-post:last-child {
  padding: 0;
  margin: 0;
  border: 0
}
.index-post .entry-image {
  position: relative;
  float: left;
  width: 245px;
  height: 170px;
  overflow: hidden;
  margin: 0 18px 0 0
}
.entry-tags,
.index-post .entry-excerpt,
.index-post .entry-meta,
.index-post .entry-title,
.item-post .blog-entry-header,
.item-post-inner,
.item-post-padd,
.post-footer,
.post-share {
  width: 100%;
  float: left
}
.index-post .entry-image-link {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden
}
.index-post .entry-title {
  font-size: 23px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0 0 15px
}
.index-post .entry-excerpt {
  font-size: 14px;
  line-height: 1.6em;
  margin: 0
}
.entry-meta {
  overflow: hidden;
  padding: 0 1px;
  margin: 0
}
.index-post .entry-meta {
  font-size: 12px;
  margin: 0 0 15px
}
.entry-meta span {
  float: left;
  font-style: normal;
  margin: 0 10px 0 0
}
.entry-meta span:before {
  display: inline-block;
  font-family: icomoon,sans-serif;
  font-style: normal;
  margin: 0 5px 0 0
}
.entry-meta .entry-author:before {
  content: '\f007'
}
.entry-meta .entry-time:before {
  content: '\f017'
}
.entry-meta .entry-comments-link:before {
  content: '\f086'
}
.entry-meta .entry-readTime:before {
  content: '\f253'
}
.entry-meta .entry-view:before {
  content: '\f06e'
}
.item-post-inner {
  position: relative;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid #e6e6e6
}
.item-post-padd {
  position: relative;
  padding: 20px 20px 25px;
  margin: 0
}
#breadcrumb {
  font-display: swap;
  font-weight: 400;
  margin: 0 0 15px
}
#breadcrumb a {
  transition: color .25s
}
#breadcrumb .delimiter:after {
  content: '\f054';
  font-display: swap;
  font-size: 9px;
  margin: 0 3px
}
.item-post .blog-entry-header {
  position: relative;
  overflow: hidden;
  padding: 0 0 20px;
  margin: 0;
  border-bottom: 1px solid rgba(155,155,155,.1)
}
.item-post h1.entry-title {
  font-size: 35px;
  line-height: 1.4em;
  font-weight: 700;
  position: relative;
  display: block;
  margin: 0
}
.item-post .has-meta h1.entry-title {
  margin-bottom: 20px
}
.item-post .blog-entry-header .entry-meta span:before {
  font-size: 12px
}
.post-body h1,
.post-body h2,
.post-body h3,
.post-body h4 {
  font-size: 18px;
 /* color: #171c24;*/
  margin: 0 0 15px
}
.featured-item.item-0 .entry-title,
.post-body h1,
.post-body h2 {
  font-size: 23px
}
.post-body h3 {
  font-size: 21px
}
blockquote {
  background-color: rgba(155,155,155,.05);
  color: #171c24;
  font-style: italic;
  padding: 15px 25px;
  margin: 0;
  border-left: 3px solid rgba(155,155,155,.2)
}
blockquote:after,
blockquote:before {
  display: inline-block;
  font-display: swap;
  color: #171c24;
  line-height: 1
}
blockquote:before {
  content: '\f10d';
  margin: 0 10px 0 0
}
blockquote:after {
  content: '\f10e';
  margin: 0 0 0 10px
}
.post-body ul {
  line-height: 1.5em;
  font-weight: 400;
  padding: 0 0 0 15px;
  margin: 10px 0
}
.post-body li {
  margin: 5px 0;
  padding: 0;
  line-height: 1.5em
}
.post-body ul li {
  list-style: disc inside
}
.post-body a:hover {
  text-decoration: underline
}
.post-footer {
  position: relative;
  padding: 0
}
.entry-tags {
  overflow: hidden;
  height: auto;
  position: relative;
  margin: 25px 0 0
}
.entry-tags a,
.entry-tags span {
  float: left;
  background-color: rgba(155,155,155,.05);
  color: #1e232b;
  font-weight: 400;
  line-height: 22px;
  padding: 0 9px;
  margin: 5px 5px 0 0;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 2px;
  border-radius: 2px
}

.entry-tags span {
  background-color: #171c24;
  color: #fff
}
.entry-tags a:hover {
  background-color: #3f51b5;
  color: #fff
}
.post-share {
  position: relative;
  background-color: rgba(155,155,155,.02);
  overflow: hidden;
  padding: 15px 20px 20px;
  margin: 0;
  border-top: 1px solid #e6e6e6
}
#related-wrap {
  padding: 20px;
  margin: 30px 0 0;
  border: 1px solid #e6e6e6
}
#related-wrap,
.blog-post-comments,
.sidebar > .widget {
  background-color: #fff;
  float: left;
  box-sizing: border-box
}
#related-wrap {
  overflow: hidden;
  width: 100%
}
.grid-posts-1,
.related-posts {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -10px
}
.related-posts .related-item {
  position: relative;
  float: left;
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: 0 10px;
  margin: 20px 0 0
}
.grid-posts-1 .entry-image,
.related-posts .entry-image {
  position: relative
}
.related-posts .entry-image-link {
  width: 100%;
  height: 140px;
  position: relative;
  display: block;
  overflow: hidden
}
.block-videos .entry-title,
.grid-posts-1 .entry-title,
.related-posts .entry-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 8px 0 0
}
.PopularPosts .entry-meta,
.block-posts-1 .entry-meta,
.block-videos .entry-meta,
.column-posts .entry-meta,
.grid-posts-1 .entry-meta,
.related-posts .entry-meta {
  margin: 3px 0 0
}
.post-nav {
  float: left;
  width: 100%;
  margin: 30px 0 0
}
#blog-pager .load-more {
  display: inline-block;
  height: 34px;
  background-color: #3f51b5;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 34px;
  box-sizing: border-box;
  padding: 0 30px;
  margin: 0;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 2px;
  border-radius: 2px
}
#blog-pager #load-more-link {
  color: #fff;
  cursor: pointer
}
#blog-pager .load-more.no-more {
  background-color: rgba(155,155,155,.05);
  color: #1e232b
}
.blog-post-comments {
  width: 100%;
  padding: 20px;
  margin: 30px 0 0;
  border: 1px solid #e6e6e6
}
.sidebar > .widget {
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 0 0 30px;
  border: 1px solid #e6e6e6
}
.sidebar .widget-content {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0
}
.PopularPosts .popular-post {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 20px 0 0
}
.PopularPosts .entry-image-link {
  position: relative;
  float: left;
  width: 85px;
  height: 65px;
  overflow: hidden;
  z-index: 1;
  margin: 0 13px 0 0
}
.PopularPosts .entry-image-link .entry-thumb {
  width: 85px;
  height: 65px
}
.PopularPosts .entry-title,
.block-posts-1 .entry-title,
.column-posts .entry-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0
}
.sidebar > .widget.FollowByEmail:before {
  content: '';
  position: absolute;
  height: 4px;
  background-color: #3f51b5;
  top: 0;
  left: 0;
  right: 0;
  margin: -1px -1px 0
}
.FollowByEmail .widget-content {
  position: relative;
  box-sizing: border-box;
  padding: 0
}
.follow-by-email-content {
  position: relative;
  z-index: 5
}
.follow-by-email-inner {
  padding: 5px 0
}
.follow-by-email-title {
  font-display: swap;
  font-family: var(--body-font);
  font-size: 16px;
  color: #171c24;
  font-weight: 700;
  margin: 0 0 13px
}
.follow-by-email-address,
.follow-by-email-submit {
  width: 100%;
  font-display: swap;
  font-family: inherit;
  height: 34px
}
.follow-by-email-text {
  font-size: 13px;
  line-height: 1.5em;
  margin: 0 0 15px
}
.follow-by-email-address {
  background-color: rgba(255,255,255,.05);
  font-size: 12px;
  color: #1e232b;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 0 10px;
  border: 1px solid rgba(155,155,155,.2);
  border-radius: 2px
}
.follow-by-email-address:focus {
  background-color: rgba(155,155,155,.05);
  border-color: rgba(155,155,155,.4)
}
#footer-wrapper {
  border-top: 1px solid rgba(155,155,155,.2)
}
.follow-by-email-submit {
  background-color: #3f51b5;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 34px;
  cursor: pointer;
  padding: 0 20px;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 2px;
  border-radius: 2px
}
.list-label li {
  position: relative;
  display: block
}
.list-label li a {
  display: block;
  color: #171c24;
  font-weight: 400;
  text-transform: capitalize;
  padding: 7px 0
}
.list-label .label-count {
  float: right;
  font-size: 11px;
  color: #1e232b;
  text-decoration: none;
  margin: 1px 0 0 5px
}
#toc li:focus,
#toc_list:focus,
:active,
:focus {
  outline: 0
}
.Image .image-caption {
  font-size: 13px;
  line-height: 1.5em;
  margin: 10px 0 0;
  display: block
}
.errorWrap a {
  background-color: #3f51b5;
  font-weight: 400
}
.social-footer li a {
  height: 34px;
  font-size: 15px;
  border: 1px solid rgba(0,0,0,.1)
}
#footer-wrapper {
  background-color: #171c24;
  color: #aaa
}
#about-section {
  position: relative;
  float: left;
  width: 100%;
  padding: 30px 0;
  margin: 0
}
#about-section .widget {
  position: relative;
  float: left;
  box-sizing: border-box;
  margin: 0
}
#about-section .widget-content .widget-title > h3 {
  position: relative;
  font-display: swap;
  font-family: var(--body-font);
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px
}
#about-section .Image {
  width: 70%;
  padding: 0 30px 0 0
}
#about-section .footer-logo {
  display: block;
  float: left;
  max-width: 30%;
  max-height: 44px;
  margin: 0
}
#about-section .about-content {
  max-width: 70%;
  display: block;
  float: left;
  padding: 0 0 0 30px;
  box-sizing: border-box
}
#about-section .Image .image-caption {
  font-size: 14px;
  margin: 0
}
#about-section .LinkList {
  float: right;
  width: 30%
}
.social-footer li {
  float: left;
  margin: 0 7px 0 0
}
.social-footer li a {
  display: block;
  width: 34px;
  background-color: rgba(155,155,155,.1);
  color: #f2f2f2;
  text-align: center;
  line-height: 34px;
  box-sizing: border-box;
  border-bottom-width: 2px;
  border-radius: 2px
}
#footerbar {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #12161d;
  color: #fff;
  overflow: hidden;
  margin: 0
}
#footerbar .footer-copyright {
  float: left;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin: 15px 0 0
}
#footer-menu {
  float: right;
  position: relative;
  display: block;
  margin: 15px 0 0
}
.footer-menu ul li {
  position: relative;
  float: left;
  margin: 0
}
.footer-menu ul li a {
  float: left;
  height: 30px;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  padding: 0;
  margin: 0 0 0 20px
}
.errorWrap {
  color: #171c24;
  text-align: center;
  padding: 60px 0
}
.errorWrap a {
  display: inline-block;
  height: 32px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  padding: 0 30px;
  margin: 15px 0 0;
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 2px;
  border-radius: 2px
}
a.ads-here {
  background-color: #fff;
  text-align: center
}
.sidebar .social-footer li a {
  line-height: 50px;
  width: 50px;
  height: 50px;
  font-size: 18px
}
.sidebar .social-footer li a:hover {
  font-size: 24px;
  opacity: .8
}
@media screen and (max-width:680px) {
  .related-posts .related-item {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0 0
  }
  .related-posts .entry-image-link {
    height: 160px
  }
  .related-posts .entry-title {
    margin: 10px 0
  }
  .index-post .entry-image {
    width: 100%;
    height: 180px;
    margin: 0 0 15px
  }
  .index-post .entry-header {
    float: left;
    width: 100%
  }
  .item-post h1.entry-title {
    font-size: 31px
  }
}
@media screen and (max-width:460px) {
  .index-post .entry-title {
    font-size: 20px
  }
  .index-post .entry-excerpt {
    font-size: 13px
  }
  .item-post h1.entry-title {
    font-size: 29px
  }
}
@media screen and (max-width:360px) {
  .index-post .entry-image {
    height: 160px
  }
  .index-post .entry-title {
    font-size: 18px
  }
  .item-post h1.entry-title {
    font-size: 21px
  }
}
.highlight {
  color: #116fff;
  text-decoration: none
}
#toc_container {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 10px 20px
}
#toc_list {
  font-weight: 700;
  cursor: pointer
}
#toc_list svg {
  vertical-align: middle
}
#toc li {
  background: 0 0;
  cursor: pointer;
  margin: .2em 0 .2em 1em
}
#toc li a {
  color: #222
}
#toc li a:hover {
  color: #1e90ff
}
.entry-thumb {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  transition: opacity .35s,transform .3s
}
#featured .widget-content {
  position: relative;
  overflow: hidden;
  height: 402px;
  margin: 0
}
.featured-posts {
  position: relative;
  height: 402px;
  margin: 0 -1px
}
.featured-item {
  position: relative;
  float: right;
  width: 25%;
  height: 200px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 1px;
  margin: 0
}
.featured-item.item-0 {
  float: left;
  width: 50%;
  height: 402px
}
.featured-item.item-1 {
  width: 50%;
  margin: 0 0 2px
}
.block-posts .widget-content,
.featured-item .entry-image-link,
.featured-item-inner {
  width: 100%;
  position: relative;
  float: left;
  display: block
}
.featured-item-inner {
  height: 100%;
  overflow: hidden;
  z-index: 10
}
.featured-item .entry-image-link {
  height: 100%;
  overflow: hidden;
  z-index: 5;
  margin: 0
}
.featured-item .entry-category {
  top: 20px;
  left: 20px
}
.featured-item .entry-info {
  padding: 25px 20px 20px
}
.featured-item .entry-title {
  font-size: 14px;
  font-weight: 700;
  display: block;
  line-height: 1.4em;
  margin: 0
}
.featured-item.item-1 .entry-title {
  font-size: 19px
}
.featured-item .entry-meta {
  margin: 7px 0 0
}
.title-wrap > a.more {
  float: right;
  font-size: 12px;
  color: #000000b0;
  line-height: 16px;
  padding: 0
}
#block-posts-2 .widget:first-child {
  margin: 30px 0
}
#block-posts-2 .widget:last-child {
  margin-bottom: 0
}
.block-posts-1 .block-item {
  position: relative;
  float: left;
  width: calc((100% - 30px)/ 2);
  overflow: hidden;
  padding: 0;
  margin: 20px 0 0
}
.block-posts-1 .item-0 {
  margin: 0 30px 0 0
}
.block-posts-1 .block-inner {
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden
}
.block-posts-1 .entry-image-link,
.column-posts .entry-image-link {
  position: relative;
  width: 85px;
  height: 65px;
  float: left;
  display: block;
  overflow: hidden;
  margin: 0 13px 0 0
}
.block-posts-1 .block-inner .entry-image-link,
.column-inner .entry-image-link {
  width: 100%;
  height: 100%;
  margin: 0
}
.block-posts-1 .entry-info .entry-title,
.column-posts .entry-info .entry-title {
  font-size: 16px
}
.block-posts-1 .item-0 .entry-meta {
  margin: 5px 0 0
}
.block-posts .block-column {
  width: calc((100% - 30px)/ 2)
}
.block-column .column-item {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 20px 0 0
}
.block-videos .videos-item,
.grid-posts-1 .grid-item {
  position: relative;
  float: left;
  padding: 0 10px;
  box-sizing: border-box
}
.column-inner {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden
}
.grid-posts-1 .grid-item {
  width: calc(100% / 3);
  margin: 0
}
.block-videos .entry-image-link,
.grid-posts-1 .entry-image-link {
  width: 100%;
  height: 144px;
  position: relative;
  display: block;
  overflow: hidden
}
.block-videos {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px
}
.block-videos .videos-item {
  width: calc(100% / 3);
  overflow: hidden;
  margin: 0
}
.block-videos .video-icon {
  position: absolute;
  top: calc(50% - (34px / 2));
  right: calc(50% - (34px / 2));
  background-color: rgba(0,0,0,.5);
  height: 34px;
  width: 34px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 32px;
  z-index: 5;
  margin: 0;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 100%;
  opacity: .85;
  transition: opacity .25s
}
.home-ad .widget {
  line-height: 0;
  width: 100%;
  position: relative;
  float: left
}
.block-videos .video-icon:after {
  content: '\f144';
  display: block;
  font-display: swap;
  font-family: icomoon,sans-serif;
  font-weight: 900;
  padding: 0 0 0 3px
}
.post-nav .blog-pager-newer-link:before {
  content: '\f053';
  float: left;
  font-display: swap;
  font-family: icomoon,sans-serif;
  font-size: 9px;
  font-weight: 900;
  margin: 0 4px 0 0
}
.post-nav .blog-pager-older-link:after {
  content: '\f054';
  float: right;
  font-display: swap;
  font-family: icomoon,sans-serif;
  font-size: 9px;
  font-weight: 900;
  margin: 0 0 0 4px
}
::selection {
  background-color: rgba(0,0,0,.1)
}
.home-ad .widget {
  margin: 0 0 30px
}
#home-ads-2 .widget {
  margin: 30px 0 0
}
#custom-ads {
  float: left;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0;
  border: 1px solid transparent
}
#after-ad,
#before-ad {
  float: left;
  width: 100%;
  margin: 0
}
a.ads-here {
  display: block;
  font-size: 14px;
  color: #3f51b5;
  font-weight: 400;
  font-style: italic;
  line-height: 88px;
  border: 1px solid #ebebeb
}
a.ads-here:hover {
  text-decoration: none;
  color: #3f51b5;
  border-color: #ccc
}
#main-wrapper iframe {
  width: 100%!important
}
@media screen and (max-width:960px) {
  #main-wrapper iframe {
    max-height: 90%
  }
}
@media screen and (max-width:768px) {
  #main-wrapper iframe {
    max-height: 75%
  }
}
@media screen and (max-width:600px) {
  #main-wrapper iframe {
    max-height: 60%
  }
}
@media screen and (max-width:480px) {
  #main-wrapper iframe {
    height: auto!important;
    max-height: auto!important
  }
}
::-webkit-scrollbar {
  background-color: #efeff2;
  width: 12px
}
::-webkit-scrollbar-thumb {
  background: #c2c2ca;
  border: 2px solid #efeff2;
  border-radius: 10px
}
::-webkit-scrollbar-track {
  border-left: 1px solid #eaeaea
}
.social a:before {
  display: inline-block;
  font-display: swap;
  font-family: icomoon;
  font-style: normal;
  font-weight: 400
}
.social .facebook a:before {
  content: "\f09a"
}
.social .twitter a:before {
  content: "\f099"
}
.social .youtube a:before {
  content: "\f16a"
}
.social .instagram a:before {
  content: "\f16d"
}
.social-bg-hover .facebook a {
  background: #3b5998
}
.social-bg-hover .twitter a {
  background: #55acee
}
.social-bg-hover .youtube a {
  background: #b31217
}
.social-bg-hover .instagram a {
  background: #3f729b
}
@media screen and (max-width:1165px) {
  #content-wrapper > .container,
  #featured-wrapper .container,
  #footer-wrapper .container,
  .headerify-wrap .headerify {
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px
  }
  #outer-wrapper {
    max-width: 100%
  }
  .row-x1 {
    width: 100%
  }
}
@media screen and (max-width:980px) {
  #main-wrapper,
  #sidebar-wrapper {
    width: 100%
  }
  #sidebar-wrapper {
    margin: 30px 0 0
  }
}
@media screen and (max-width:880px) {
  .magify-main-menu {
    display: none
  }
  .headerify-wrap .headerify {
    padding: 0
  }
  .main-logo-wrap {
    width: 100%;
    text-align: center;
    z-index: 15;
    margin: 0
  }
  .main-logo .blog-title,
  .main-logo .header-widget {
    float: none;
    display: inline-block
  }
  #slide-menu,
  .overlay,
  .show-mobile-menu {
    display: block
  }
  .search-toggle {
    width: auto;
    background-color: rgba(0,0,0,0);
    text-align: center;
    padding: 0 20px
  }
  #nav-search {
    width: unset;
    left: 20px;
    right: 20px;
    border-radius: 2px 0 2px 2px
  }
  #nav-search:before {
    right: 0
  }
}
@media screen and (max-width:780px) {
  #about-section {
    text-align: center
  }
  #about-section .Image {
    width: 100%;
    padding: 0
  }
  #about-section .footer-logo {
    display: inline-block;
    float: none;
    max-width: 100%;
    padding: 0 0 30px
  }
  #about-section .about-content {
    max-width: 100%;
    padding: 0
  }
  #about-section .LinkList,
  #about-section .LinkList .widget-content {
    width: 100%
  }
  #about-section .LinkList {
    margin: 30px 0 0
  }
  #about-section .LinkList .widget-content .widget-title > h3 {
    margin: 0 0 20px
  }
  .about-section ul.social-footer {
    float: none;
    display: block;
    padding: 0
  }
  .about-section .social-footer li {
    float: none;
    display: inline-block;
    margin: 0 5px
  }
  .about-section .social-footer li:last-child {
    margin: 0 5px
  }
  #footerbar {
    height: auto;
    line-height: 1.4em;
    padding: 20px 0
  }
  #footer-menu,
  #footerbar .footer-copyright {
    width: 100%;
    height: unset;
    line-height: inherit;
    text-align: center;
    margin: 0
  }
  #footer-menu ul li {
    float: none;
    display: inline-block;
    margin: 0
  }
  #footer-menu ul li a {
    height: unset;
    line-height: inherit;
    margin: 0 7px
  }
  #footerbar .footer-copyright .widget {
    padding: 0 0 15px
  }
}
@media screen and (max-width:680px) {
  #featured .widget,
  #featured .widget-content,
  .featured-posts {
    height: auto
  }
  .block-posts-1 .block-inner {
    height: 200px
  }
  .featured-item {
    width: 50%;
    height: 180px;
    margin: 2px 0 0
  }
  .featured-item.item-0 {
    width: 100%;
    height: 200px;
    margin: 0
  }
  .featured-item.item-1 {
    width: 100%;
    height: 180px;
    margin: 2px 0 0
  }
  .block-posts .block-column,
  .block-posts-1 .block-item {
    width: 100%
  }
  .block-posts-1 .item-0 {
    width: 100%;
    margin: 0 0 5px
  }
  .block-posts-1 .item-1 {
    margin: 20px 0 0
  }
  .block-videos .videos-item,
  .grid-posts-1 .grid-item,
  .related-posts .related-item {
    width: 100%;
    padding: 0 10px;
    margin: 20px 0 0!important
  }
  .block-videos .entry-image-link,
  .grid-posts-1 .entry-image-link,
  .related-posts .entry-image-link {
    height: 160px
  }
  .block-videos .entry-title,
  .grid-posts-1 .entry-title {
    margin: 10px 0 0
  }
  .related-posts .entry-title {
    margin: 10px 0
  }
  .index-post .entry-image {
    width: 100%;
    height: 180px;
    margin: 0 0 15px
  }
  .index-post .entry-header {
    float: left;
    width: 100%
  }
  .item-post h1.entry-title {
    font-size: 31px
  }
}
@media screen and (max-width:460px) {
  .featured-item {
    width: 100%
  }
  .featured-item.item-0 .entry-title,
  .index-post .entry-title {
    font-size: 20px
  }
  .featured-item.item-1 .entry-title {
    font-size: 14px
  }
  .featured-item.item-1 .entry-author {
    display: none
  }
  .index-post .entry-excerpt {
    font-size: 13px
  }
  .item-post h1.entry-title {
    font-size: 29px
  }
}
@media screen and (max-width:360px) {
  .featured-item,
  .featured-item.item-1 {
    height: 140px
  }
  .block-posts-1 .block-inner,
  .column-inner,
  .featured-item.item-0 {
    height: 180px
  }
  .featured-item.item-0 .entry-title {
    font-size: 16px
  }
  .featured-item .entry-category {
    display: none
  }
  .featured-item.item-0 .entry-category {
    display: inline-block
  }
  .index-post .entry-image {
    height: 160px
  }
  .index-post .entry-title {
    font-size: 18px
  }
  .item-post h1.entry-title {
    font-size: 21px
  }
  .errorWrap h3 {
    font-size: 130px
  }
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
/*! Typebase.less v0.1.0 | MIT License */
html {
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased
}
p {
  margin: 0 0 1.3em
}

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem
}
h2 {
  font-size: 2.828rem;
  line-height: 3rem
}
h3 {
  font-size: 1.414rem
}
h4 {
  font-size: .707rem
}
code {
  vertical-align: bottom
}
#after-ad,
#before-ad {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  margin-top: 10px
}


